body{
  margin: 0 ;
  font-size: 16px;
}

nav{
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}

nav h1{
  margin: 0;
  padding: 30px ;

}

nav ul{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header{
  background: orange;
  text-align: center;
  padding-top: 60px;
}

header h1{
  color: white;
  margin: 0;
}

header p{
  margin: 0;
  color: white;
}

.info .btn{
  display: block;
  width: 100px;
  padding: 10px 20px;
  margin: 30px auto 60px;
  margin-bottom: 40px;
  color: orange;
  background: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

header img{
  width: 300px;
  vertical-align: bottom;
}

.features .info{
  margin-bottom: 20px;
}

.features h1{
  text-align: center;
  font-weight: normal;
  padding: 40px 0;
}

.features > div{
  margin: 0 32px 80px;
}
.features img{
  width: 100%;
}

.members{
  background: #eee;
  /* text-align: center; */
}
.members h1{
  text-align: center;
  font-weight: normal;
  padding: 70px 0;
}

.member{
  padding-bottom: 50px;
  text-align: center;
}

.member img{
  border-radius: 50%;
  width: 160px;
}

.call-to-action{
  text-align: center;
  background: orange;
  padding: 60px;
}

.call-to-action h2{
  font-weight: normal;
  margin: 0;
}

.call-to-action .btn{
  margin-bottom: 10px;
  display: block;
  width: 100px;
  padding: 10px 20px;
  margin: 30px auto 30px;
  color: orange;
  background: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

footer{
  text-align: center;
  padding: 60px;
  background-color: black;
}

footer p{
  color: #eee;
}

@media(min-width: 900px){
  nav{
    width: 800px;
    display: flex;
    justify-content: space-between;
  }

  nav ul{
    display: flex;
    padding: 15px;
    
  }
  
  nav a{
    padding: 15px;
    margin: 0 20px;
    line-height: 40px;
    cursor: pointer;
    border-radius: 10px;
  }

  nav a:hover{
    background-color: #eee;
  }

  header{
    padding-top: 30px;
  }
  
  header .container{
    display: flex;
    margin: 0 auto;
    width: 800px;
  }

  header .info{
    width: 50%;
    align-self: center;
  }

  header .pic{
    width: 50%;
  }

  .features .container{
    width: 800px;
    margin: 0 auto;
  }

  .features section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .features section:nth-child(even){
    flex-direction: row-reverse;
  }

  .features .pict{
    width: 50%;
  }

  .features .infom{
    width: calc(50% - 32px);
  }

  
  .members section{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
  }

  .member{
    width: 250px;
  }
}